<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean name="/t1" class="com.kuang.controller.ControllerTest01"/>

    <!--    视图解析器   ModelAndView方式需要视图解析器  ServletAPI 不需要视图解析器
        SpringMVC不需要视图解析器 也可需要视图解析器 转发时可需要，重定向本来就是重新请求一个新地址 -->
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!--        前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--        后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>



    <!-- 自动扫描指定的包，下面所有注解类交给IOC容器管理  @Controller注解使用-->
    <context:component-scan base-package="com.kuang.controller"/>

</beans>